<%- contentFor('HeaderCss') %>
    <!-- Sweet Alert-->
    <link href="public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <link href="public/assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

    <div class="row mb-4">
        <div class="col-sm-12 text-end">
            <button type="submit" class="btn btn-success waves-effect waves-light me-1">Save Changes</button>
        </div>
    </div>
    <form>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Brokers Information</h4>
                <p class="card-title-desc">Fill information below</p>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="developerName">Brokers Name</label>
                                    <input id="productname" name="developerName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="developerEmail">Brokers Email</label>
                                    <input id="productname" name="developerEmail" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="developerPassword">Change Password</label>
                                    <input id="productname" name="developerPassword" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="developerPassword">Confirm Password</label>
                                    <input id="productname" name="developerPassword" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label" for="elm1">About Brokers</label>
                                    <textarea id="elm1" class="tinymce-editor" name="aboutDeveloper"></textarea>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Select Theme Color</label>
                                    <input type="text" class="form-control" id="colorpicker-default" value="#924c3d">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Select Font Family</label>
                                <select class="select2 form-select select2-multiple" data-placeholder="Choose ...">
                                    <option value="">Select</option>
                                    <option value="AK">Roboto</option>
                                    <option value="HI">Roboto Slab</option>
                                    <option value="CA">Open Sans</option>
                                    <option value="NV">Lato</option>
                                    <option value="OR">Poppins</option>
                                    <option value="WA">Montserrat</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-5">
                        <div class="mb-3">
                            <label class="form-label">Brokers Logo</label> <br>
                            <img src="public/assets/images/tishman-logo.webp" alt="product img" class="img-fluid" style="max-width: 200px;">
                            <br>
                            <button type="button" class="btn btn-purple mt-3 waves-effect waves-light">Change Logo</button>
                        </div>
                    </div> -->
                </div>
                
            </div>
        </div>
    </form>

<%- contentFor('FooterJs') %>

    <!--tinymce js-->
    <script src="public/assets/libs/tinymce/tinymce.min.js"></script>

    <!-- init js -->
    <script src="public/assets/js/pages/form-editor.init.js"></script>

    <!-- Sweet Alerts js -->
    <script src="public/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <script src="public/assets/libs/select2/js/select2.min.js"></script>

    <script src="public/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>

    <script src="public/assets/js/pages/form-advanced.init.js"></script>

    <script>
        //Warning Message
        $('#sa-warning').click(function () {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#4ac18e",
                cancelButtonColor: "#f46a6a",
                confirmButtonText: "Yes, delete it!"
              }).then(function (result) {
                if (result.value) {
                  Swal.fire("Deleted!", "Your file has been deleted.", "success");
                }
            });
        });
    </script>

<%- contentFor('BottomJs') %>