<%- contentFor('HeaderCss') %>
    <link href="public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css">
    
    <!-- Plugins css -->
    <link href="public/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css">

    <!-- Sweet Alert-->
    <link href="public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

    <div class="row mb-4">
        <div class="col-sm-6">
            <h4 class="fw-normal">Building Id #60735 <span class="badge bg-success ms-2 bg-opacity-25">Published</span></h4>
        </div> 
        <div class="col-sm-6 text-end">
            <button type="submit" class="btn btn-success waves-effect waves-light me-1">Save Changes</button>
            <button type="button" id="sa-warning" class="btn btn-danger">Delete</button>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Building Information</h4>
                        <p class="card-title-desc">Fill information below</p>
                        
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="buildingname">Building Name</label>
                                        <input id="productname" name="buildingname" type="text" class="form-control">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="elm1">Building Description</label>
                                        <textarea id="elm1" name="buildingDes"></textarea>
                                    </div>
                                </div>
                            </div>

                           <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <!-- <label class="form-label">Building Image</label> -->
                                        <!-- <div class="accordion" id="accordionExample">
                                            <div class="accordion-item border rounded">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#viewImages" aria-expanded="true" aria-controls="viewImages">
                                                        View images
                                                    </button>
                                                </h2>
                                                <div id="viewImages" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="dropzone">
                                                            <div class="fallback">
                                                                <input name="file" type="file" multiple="multiple">
                                                            </div>
                                
                                                            <div class="dz-message needsclick">
                                                                <div class="mb-3">
                                                                    <i class="mdi mdi-cloud-upload display-4 text-muted"></i>
                                                                </div>
                                                                
                                                                <h4>Drop files here or click to upload.</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <label class="form-label">Building Image</label> <br>
                                        <img src="public/assets/images/products/1.jpg" alt="product img" class="img-fluid" style="max-width: 200px;">
                                        <br>
                                        <button type="button" class="btn btn-purple mt-3 waves-effect waves-light">Change Image</button>
                                    </div>
                                </div>
                            </div> 
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Specifications</h4>
                        <p class="card-title-desc">Fill information below</p>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="minArea">Min Area</label>
                                    <input id="minArea" name="minArea" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="maxArea">Max Area</label>
                                    <input id="maxArea" name="maxArea" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="minArea">Min Bedrooms</label>
                                    <input id="minBedroom" name="minBedroom" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="maxArea">Max Bedrooms</label>
                                    <input id="maxBedroom" name="maxBedroom" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="minArea">Min Parking</label>
                                    <input id="minBedroom" name="minBedroom" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="maxArea">Max Parking</label>
                                    <input id="maxBedroom" name="maxBedroom" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="minArea">Min Suites</label>
                                    <input id="minBedroom" name="minSuites" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="maxArea">Max Suites</label>
                                    <input id="maxBedroom" name="maxSuites" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Features</label>
                                    <select class="select2 form-select select2-multiple" multiple="multiple" data-placeholder="Choose ...">
                                        <option value="AK">Alaska</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="CA">California</option>
                                        <option value="NV">Nevada</option>
                                        <option value="OR">Oregon</option>
                                        <option value="WA">Washington</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label mb-3">Opportunity</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidtooltipCheck" required="">
                                            <label class="form-check-label" for="invalidtooltipCheck">
                                                Broker
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidtooltipCheck" required="">
                                            <label class="form-check-label" for="invalidtooltipCheck">
                                                Client
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidtooltipCheck" required="">
                                            <label class="form-check-label" for="invalidtooltipCheck">
                                                Exchange Units 
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidtooltipCheck" required="">
                                            <label class="form-check-label" for="invalidtooltipCheck">
                                                Tenanted Investment Property
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidtooltipCheck" required="">
                                            <label class="form-check-label" for="invalidtooltipCheck">
                                                Social Housing Program
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidtooltipCheck" required="">
                                            <label class="form-check-label" for="invalidtooltipCheck">
                                                Featured Building
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Address</h4>
                        <p class="card-title-desc">Fill information below</p>

                        
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="metatitle">Street Type</label>
                                        <input id="metatitle" name="productname" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="metakeywords">Street</label>
                                        <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="metadescription">Number</label>
                                        <input data-parsley-type="number" type="text" class="form-control" required />
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="metadescription">Area</label>
                                        <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="metadescription">Latitude</label>
                                        <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                                        <button type="button" class="btn btn-link p-0 text-indigo"> <small>Select Location on Map</small></button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="metadescription">Longitude</label>
                                        <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="metadescription">City</label>
                                        <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="metadescription">State</label>
                                        <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="metadescription">Zip Code</label>
                                        <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="metadescription">Status</label>
                                        <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="metadescription">Stage</label>
                                        <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Developer Details</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="metadescription">Developer ID</label>
                                    <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="metadescription">Developer Name</label>
                                    <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="metadescription">Property Type <small class="text-muted">(Finality)</small></label>
                                    <input id="metakeywords" readonly name="manufacturername" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        
                        <h4 class="card-title pb-3">Pricing</h4>

                        <div class="mb-3">
                            <label class="form-label" for="metadescription">Min Price</label>
                            <input data-parsley-type="number" type="text" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="metadescription">Price Per Square Meter</label>
                            <input data-parsley-type="number" type="text" class="form-control" required />
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title pb-3">Organize</h4>
                        <!-- <div class="mb-3">
                            <label class="form-label">Assign Developer</label>
                            <select class="select2 form-select select2-multiple" data-placeholder="Choose ...">
                                <option value="AK">Highcorp</option>
                                <option value="HI">Goldsztein & Cyrela</option>
                                <option value="CA">ix. Incorporadora</option>
                                <option value="NV">Trisul</option>
                                <option value="OR">B2M Incorporadora</option>
                                <option value="WA">Marino</option>
                            </select>
                        </div> -->

                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <select class="select2 form-select" data-placeholder="Choose ...">
                                <option value="1">Published</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

<%- contentFor('FooterJs') %>
    <script src="public/assets/libs/select2/js/select2.min.js"></script>

    <script src="public/assets/js/pages/ecommerce-select2.init.js"></script>

    <!--tinymce js-->
    <script src="public/assets/libs/tinymce/tinymce.min.js"></script>

    <!-- init js -->
    <script src="public/assets/js/pages/form-editor.init.js"></script>

    <script src="public/assets/libs/parsleyjs/parsley.min.js"></script>

    <script src="public/assets/js/pages/form-validation.init.js"></script>

    <!-- Plugins js -->
    <script src="public/assets/libs/dropzone/min/dropzone.min.js"></script>


    <!-- init js -->
    <script src="public/assets/js/pages/form-editor.init.js"></script>

    <!-- Sweet Alerts js -->
    <script src="public/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <script>
        //Warning Message
        $('#sa-warning').click(function () {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#4ac18e",
                cancelButtonColor: "#f46a6a",
                confirmButtonText: "Yes, delete it!"
              }).then(function (result) {
                if (result.value) {
                  Swal.fire("Deleted!", "Your file has been deleted.", "success");
                }
            });
        });
    </script>

<%- contentFor('BottomJs') %>