<%- contentFor('HeaderCss') %>
    <!-- DataTables -->
    <link href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
        type="text/css">

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="datatable" class="table table-striped table-centered dt-responsive nowrap table-vertical" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Logo</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#60735</td>
                                <td class="product-list-img">
                                    <img src="public/assets/images/tishman-logo.webp" class="img-fluid avatar-md rounded" alt="tbl">
                                </td>
                                <td>
                                    <h6 class="mt-0 mb-1">Highcorp</h6>
                                </td>
                                <td><span class="badge bg-success">Active</span></td>
                                <td>
                                    <a href="edit-developers" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>#60735</td>
                                <td class="product-list-img">
                                    <img src="public/assets/images/tishman-logo.webp" class="img-fluid avatar-md rounded" alt="tbl">
                                </td>
                                <td>
                                    <h6 class="mt-0 mb-1">Goldsztein & Cyrela</h6>
                                </td>
                                <td><span class="badge bg-danger">Inactive</span></td>
                                <td>
                                    <a href="edit-developers" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>#60735</td>
                                <td class="product-list-img">
                                    <img src="public/assets/images/tishman-logo.webp" class="img-fluid avatar-md rounded" alt="tbl">
                                </td>
                                <td>
                                    <h6 class="mt-0 mb-1">ix. Incorporadora</h6>
                                </td>
                                <td><span class="badge bg-success">Active</span></td>
                                <td>
                                    <a href="edit-developers" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>#60735</td>
                                <td class="product-list-img">
                                    <img src="public/assets/images/tishman-logo.webp" class="img-fluid avatar-md rounded" alt="tbl">
                                </td>
                                <td>
                                    <h6 class="mt-0 mb-1">Trisul</h6>
                                </td>
                                <td><span class="badge bg-success">Active</span></td>
                                <td>
                                    <a href="edit-developers" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>#60735</td>
                                <td class="product-list-img">
                                    <img src="public/assets/images/tishman-logo.webp" class="img-fluid avatar-md rounded" alt="tbl">
                                </td>
                                <td>
                                    <h6 class="mt-0 mb-1">B2M Incorporadora</h6>
                                </td>
                                <td><span class="badge bg-success">Active</span></td>
                                <td>
                                    <a href="edit-developers" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>#60735</td>
                                <td class="product-list-img">
                                    <img src="public/assets/images/tishman-logo.webp" class="img-fluid avatar-md rounded" alt="tbl">
                                </td>
                                <td>
                                    <h6 class="mt-0 mb-1">Marino</h6>
                                </td>
                                <td><span class="badge bg-success">Active</span></td>
                                <td>
                                    <a href="edit-developers" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>#60735</td>
                                <td class="product-list-img">
                                    <img src="public/assets/images/tishman-logo.webp" class="img-fluid avatar-md rounded" alt="tbl">
                                </td>
                                <td>
                                    <h6 class="mt-0 mb-1">Vitaurbana</h6>
                                </td>
                                <td><span class="badge bg-success">Active</span></td>
                                <td>
                                    <a href="edit-developers" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>#60735</td>
                                <td class="product-list-img">
                                    <img src="public/assets/images/tishman-logo.webp" class="img-fluid avatar-md rounded" alt="tbl">
                                </td>
                                <td>
                                    <h6 class="mt-0 mb-1">Idea! Zarvos</h6>
                                </td>
                                <td><span class="badge bg-success">Active</span></td>
                                <td>
                                    <a href="edit-developers" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

<%- contentFor('FooterJs') %>
    <script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    
    <!-- Ecommerce init js -->
    <script src="public/assets/js/pages/ecommerce.init.js"></script> 

<%- contentFor('BottomJs') %>